/*------------------------------------*\
$CASOS
\*------------------------------------*/
.no-touch {
    .go-back {
        &:hover {
            background: $maindark;
        }
    }
    .paginador {
        li {
            a {
                &:hover {
                    background: $border;
                }
                &.disable {
                    cursor: default;
                    &:hover {
                        background: white;
                    }
                }
                &.current {
                    &:hover {
                        color: $main;
                    }
                }
            }
        }
    }
}
h2.subtitle {
    @include font-size(22px, 26px);
    text-align: center;
    color: $main;
    margin-top: 40px;
}
.banner__casos {
    background-size: cover;
    height: 230px;
    width: 100%;
    position: relative;
    margin-bottom: 14px;
    overflow: hidden;
    @include respond-to(desktop) {
        height: 360px;
        margin-bottom: 40px;
    }
    .banner__casos__image {
        width: 110%;
        height: 110%;
        display: block;
        filter: blur(3px);
        position: relative;
        left: -5%;
        top: -5%;
        background-size: cover;
        background-position: center;
    }
    .center {
        @include center;
        padding: 0 20px;
        color: white;
        text-align: center;
        width: 100%;
        max-width: 500px;
        margin-top: -20px;
        z-index: $level2;
        .banner__category {
            @include font-size(14px, 26px);
            a {
                color: white;
                display: inline-block;
            }
        }
        .banner__title {
            @include font-size(22px, 26px);
            font-family: 'senregular';
            font-weight: normal;
            letter-spacing: 1px;
            @include respond-to(tablet) {
                @include font-size(28px, 32px);
            }
        }
    }
}
.casos {
    padding: 0 20px;
    @include respond-to(tablet) {
        padding: 30px 0 0;
        max-width: 1000px;
        margin: auto;
    }
    .title {
        @include respond-to(desktop) {
            margin-top: 30px;
        }
    }
    &.casos--home {
        padding-top: 20px;
        @include respond-to(desktop) {
            padding-top: 50px;
            padding-bottom: 90px;
        }
    }
    .top-bar {
        margin: 20px 0 10px;
        @include respond-to(tablet) {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            padding: 0 10px;
            margin: 20px 0;
        }
        .style-select {
            width: 240px;
            height: 40px;
            border-radius: 5px;
            border: 1px solid $border;
            position: relative;
            margin: auto;
            @include respond-to(tablet) {
                margin: 0;
            }
            select {
                width: 100%;
                height: 40px;
                background-color: transparent;
                border: none;
                appearance:none;
                position: relative;
                z-index: $level2;
                @include font-size(14px, 26px);
                padding: 0 10px;
            }
            svg {
                width: 15px;
                height: 15px;
                fill: $main;
                position: absolute;
                top: 11px;
                right: 10px;
                z-index: $level1;
            }
        }
        .paginador {
            display: none;
            @include respond-to(tablet) {
                display: flex;
                width: 90px;
                margin-top: 0;
            }
        }
    }
    .item__casos {
        margin-bottom: 20px;
        @include aspect-ratio(14, 9);
        @include respond-to(tablet) {
            margin: 0 10px 20px;
            width: calc(50% - 20px);
        }
        .item__casos__media {
            width: 100%;
            height: 100%;
            background-size: cover;
        }
        .item__casos__text {
            color: white;
            text-align: center;
            width: 100%;
            padding: 15px;
            @include center;
            @include respond-to(tablet) {
                max-width: 74%;
                margin: auto;
            }
            h2 {
                font-weight: normal;
                @include font-size(18px, 21px);
                font-family: 'senregular';
                @include respond-to(tablet) {
                    @include font-size(24px, 28px);
                }
                @include respond-to(desktop) {
                    @include font-size(28px, 32px);
                }
            }
        }
    }
    .block--flex {
        @include respond-to(tablet) {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }
    }
}
.page-casos {
    &::after, &::before {
        content: '';
        width: 100%;
        height: 1px;
        background: $border;
        display: block;
        @include respond-to(tablet) {
            width: calc(100% - 20px);
            margin-left: 10px;
        }
    }
    &::before {
        margin-bottom: 20px;
    }
}
.single-casos {
    border-top: 1px solid $border;
    @include respond-to(desktop) {
        padding-bottom: 40px;
    }
    .title {
        h1 {
            margin-top: 14px;
        }
    }
    .block--flex {
        padding-top: 20px;
    }
}
.paginador {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    @include respond-to(tablet) {
        justify-content: flex-end;
        padding-right: 10px;
    }
    li {
        width: 40px;
        height: 40px;
        background: white;
        border: 1px solid $border;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        svg {
            width: 16px;
            height: 16px;
            fill: $main;
        }
        a {
            @include font-size(15px, 40px);
            text-align: center;
            color: $main;
            display: block;
            transition: all 300ms;
            height: 100%;
            &.current {
                background: $main;
                color: white;
                width: 100%;
            }
            &.disable {
                svg {
                    fill: $border;
                }
            }
        }
    }
}
.content--text {
    p {
        @include font-size(14px, 26px);
        margin-bottom: 20px;
        padding: 0 20px;
        @include respond-to(tablet) {
            max-width: 560px;
            margin: auto;
            margin-bottom: 40px;
        }
        &.principal {
            @include font-size(17px, 26px);
            color: #666;
            font-weight: normal;
        }
    }
    h2 {
        @include font-size(18px, 18px);
        padding: 17px 20px 4px;
        color: $main;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        @include respond-to(tablet) {
            max-width: 560px;
            margin: auto;
        }
    }
    h3 {
        @include font-size(15px, 15px);
        padding: 0 20px;
        color: $main;
        text-transform: uppercase;    
        letter-spacing: 0.6px;
        margin-bottom: 5px;
        @include respond-to(tablet) {
            max-width: 560px;
            margin: auto;
        }
    }
    .wp-caption {
        width: 100%;
        padding: 0 20px;
        margin: 0 0 20px 0;
        @include respond-to(tablet) {
            max-width: 560px;
            margin: 0 auto 30px;
        }
        img {
            width: 100%;
            height: auto;
        }
        .wp-caption-text {
            @include font-size(14px, 18px);
            color: #b3b3b3;
            padding: 0 10px;
            margin-top: 7px;
        }
    }
    ul {
        padding: 0 20px;
        list-style: none;
        @include respond-to(tablet) {
            max-width: 560px;
            margin: auto;
        }
        li {
            padding-left: 20px;
            position: relative;
            @include font-size(14px, 21px);
            margin-bottom: 10px;
            &::before {
                content: '';
                width: 4px;
                height: 4px;
                border-radius: 2px;
                background: $main;
                position: absolute;
                top: 10px;
                top: 10px;
                left: 0;
            }
        }
    }
    ol {
        padding: 0 20px;
        list-style: none;
        counter-reset: item;
        @include respond-to(tablet) {
            max-width: 560px;
            margin: auto;
        }
        li {
            padding-left: 20px;
            position: relative;
            @include font-size(14px, 21px);
            margin-bottom: 10px;
            &::before {
                content: '';
                content: counter(item) ". ";
                counter-increment: item;
                position: absolute;
                top: 0;
                left: 0;
                color: $maindark;
            }
        }
    }
    blockquote {
        @include font-size(18px, 26px);
        padding: 74px 20px 30px;
        margin-bottom: 10px;
        color: $main;
        text-align: center;
        background: url(../img/quote.svg) center 26px no-repeat #f1f1f1;
        @include respond-to(tablet) {
            padding: 90px 20% 60px;
            background-position: center 46px;
            margin: 25px 0;
        }
        @include respond-to(desktop) {
            padding: 80px 36% 50px;
            color: $main;
            text-align: center;
        }
    }
    blockquote p {
        @include font-size(18px, 26px);
    }
}
.go-back {
    width: 100%;
    @include font-size(18px, 18px);
    text-transform: uppercase;
    color: white;
    padding: 10px 10px 22px;
    text-align: center;
    background: $main;
    display: block;
    margin-bottom: -20px;
    transition: all 300ms;
    letter-spacing: 1px;
    font-family: 'senregular';
    @include respond-to(tablet) {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 30px 0;
        height: 80px;
        @include font-size(18px, 28px);
    }
    svg {
        width: 28px;
        height: 28px;
        display: block;
        fill: white;
        margin: auto;
        margin-bottom: 13px;
        @include respond-to(tablet) {
            margin: 0 5px 0 0;
        }
    }
}