/*------------------------------------*\
$NOSOTROS
\*------------------------------------*/
.nosotros--box {
    &.nosotros--especial {
        .nosotros__item {
            &:last-child {
                margin-bottom: -20px;
            }
        }
    }
    .nosotros__item {
        border-bottom: 1px solid $border;
        @include respond-to(tablet) {
            padding: 40px 20px;   
        }
        @include respond-to(desktop) {
            padding: 60px 20px;   
        }
        .nosotros__container {
            width: 100%;
            padding: 14px 20px 10px;
            max-width: 1000px;
            margin: auto;
            position: relative;
            @include respond-to(tablet) {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-end;
            }
            @include respond-to(tablet) {
                padding: 0;                 
                min-height: 340px
            }
            @include respond-to(desktop) {
                min-height: 380px
            }
        }
        &:nth-child(2n) {
            background: $border;
            .nosotros__container {
                @include respond-to(tablet) {
                    flex-flow: row-reverse wrap;
                    .nosotros__media {
                        left: auto;
                        right: 0;
                    }
                    .nosotros__text {
                        padding-left: 0;
                        padding-right: 20px;
                    }
                }
            }
        }
        .nosotros__media {
            @include aspect-ratio(1, 1);
            width: 100%;
            border-radius: 50%;
            margin: 6px 0 10px;
            background-size: cover;
            @include respond-to(tablet) {
                width: 45%;
            }
            @include respond-to(desktop) {
                width: 38%;
                margin: 0 6%;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
                height: auto;
            }
            .nosotros__title {
                @include center;
                width: 100%;
                h2 {
                    @include font-size(21px, 24px);
                    text-align: center;
                    color: white;
                    @include respond-to(tablet) {
                        @include font-size(28px, 32px);
                    }
                }
                .btn--icon {
                    @include respond-to(tablet) {
                        display: none;
                    }
                    &.js-close {
                        span {
                            svg {
                                fill: white;
                                &:first-child {
                                    display: none;
                                }
                                &:last-child {
                                    display: block;
                                }
                            }
                        }
                    }
                    span {
                        svg {
                            &:first-child {
                                display: block;
                            }
                            &:last-child {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .nosotros__text {
            margin-top: 10px;
            display: none;
            @include respond-to(tablet) {
                display: block;
                width: 55%;
                padding-left: 20px;
                margin-top: 0;
            }
            p {
                @include font-size(14px, 26px);
                margin-bottom: 20px;
                @include respond-to(tablet) {
                    margin-bottom: 30px;
                }
                &.principal {
                    @include font-size(17px, 26px);
                    color: #666;
                    font-weight: normal;
                }
            }
            ul, ol {
                li {
                    ol, ul {
                        padding-top: 10px;
                    }
                }
            }
            ul {
                list-style: none;
                li {
                    padding-left: 20px;
                    position: relative;
                    @include font-size(14px, 22px);
                    margin-bottom: 10px;
                    &::before {
                        content: '';
                        width: 4px;
                        height: 4px;
                        border-radius: 2px;
                        background: $main;
                        position: absolute;
                        top: 8px;
                        left: 0;
                    }
                }
            }
            ol {
                list-style: none;
                counter-reset: number-counter;
                > li {
                    padding-left: 20px;
                    position: relative;
                    @include font-size(14px, 22px);
                    margin-bottom: 10px;
                    &::before {
                        content: counters(number-counter, ".") " ";
                        counter-increment: number-counter;
                        color: $main;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    ol li {
                        padding-left: 25px;
                    }
                }
            }
        }
    }
}
.detection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
