/*------------------------------------*\
$MAIN
\*------------------------------------*/
html, body {
    height: 100%;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
}
body {
    padding-top: 50px;
    @include respond-to(desktop) {
        padding: 0;
    }
}
.page-wrap {
    min-height: 100%;
    margin-bottom: -174px;/* equal to Footer height */
    padding-bottom: 20px;
    @include respond-to(tablet) {
        margin-bottom: -56px;
    }
}
.page-wrap:after {
    content: "";
    display: block;
}
.site-footer, .page-wrap:after {
    height: 174px; 
    @include respond-to(tablet) {
        height: 56px;
    }
}
.noscroll {
    overflow: hidden;
}
img {
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: 'senregular';
}
.title {
    font-weight: normal;
    @include font-size(22px, 26px);
    text-align: center;
    text-transform: uppercase;
    color: $maindark;
    margin-top: 22px;
    letter-spacing: 1px;
    @include respond-to(tablet) {
        @include font-size(28px, 32px);
        margin-top: 40px;
    }
    @include respond-to(desktop) {
        margin-top: 60px;
    }
}